<!DOCTYPE html>
<html>
    <head>
          <html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>MusicTripper</title>
          <meta name="description" content="">
          <meta name="author" content="">
          <link href="/css/bootstrap.min.css" rel="stylesheet" type = "text/css">
          <link href="/css/index.css" rel="stylesheet" type = "text/css">
          <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGB5UCMBvU_mxxztJPq9qwY61j62FnjAc"></script>
    </head>

    <body>
        <div class="site-wrapper">
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand">MusicTripper</h3>
                  <nav class="nav nav-masthead">
                    <a class="login-button" href="/">Home</a>
                    <a class="nav-link active" href="/playlists">Playlists</a>
                  </nav>
                </div>
              </div>

              <div class="inner cover">
                <h1>Check out recently made playlists!</h1>
                <h3><a href="/">Click here to create another playlist</a></h3>

                <br><br><br><br>
                  <table style="width:100%">
                  <tr>
                    <th style="text-align:center">Playlist</th>
                    <th style="text-align:center">Duration</th>
                    <th style="text-align:center">Artists</th>
                  </tr>

                  <% for (var playlist in allplaylists) {   %>
                  <tr class="Class">
                    <td style="text-align:center"> <%= allplaylists[playlist]['playlistName'] %> </td>
                    <td style="text-align:center"> <%= allplaylists[playlist]['durationText'] %> </td>
                    <td style="text-align:center"> <%= allplaylists[playlist]['artists'] %> </td>
                  </tr>
                  <% } %>

                </table>
                <div id = "responseArea"></div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
